* {
    box-sizing: border-box;
}

.aggregated-data-wrapper {
    display: flex;
    width: 100%;
}

.locations-wrapper {
    display: flex;
    width: 100%;
}

.map-image {
    width: 50%;
}

.locations-table {
    padding-left: 20px;
    width: 50%;
}

.aggregated-data-badge {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: #1abc9c;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 150px;
    margin-right: 20px;
}

.aggregated-data-badge > p {
    margin-bottom: 0;
}
